extends ../_skeleton-component
include ../mixins/_data-table

block append variables
  - var firstParent = 'plugins'              
  - var currentPage = 'data-table'

block append styles
  link(href=`${CWD}assets/lib/datatables-bs4/dataTables.bootstrap4.min.css`, rel='stylesheet')
  link(href=`${CWD}assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css`, rel='stylesheet')
block append scripts
  script(src=`${CWD}assets/lib/datatables/js/jquery.dataTables.min.js`)
  script(src=`${CWD}assets/lib/datatables-bs4/dataTables.bootstrap4.min.js`)
  script(src=`${CWD}assets/lib/datatables.net-responsive/dataTables.responsive.js`)
  script(src=`${CWD}assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js`)

block append content
  +PageHeader('Data Table')
    p.mt-2 DataTables is a highly flexible tool, build upon the foundations of progressive enhancement, that adds all of these advanced features to any HTML table.
    a(href='https://datatables.net/' target='_blank').btn.btn-link.pl-0.btn-sm Datatable documentation
            span.fas.fa-chevron-right.ml-1.fs--2
  .card.mb-3
    .card-header
      h5.mb-0 Stylesheet
    .card-body.bg-light
      +componentCardLib
        link(href=`assets/lib/datatables-bs4/dataTables.bootstrap4.min.css`, rel='stylesheet')
        link(href=`assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css`, rel='stylesheet')
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`assets/lib/datatables/js/jquery.dataTables.min.js`)
        script(src=`assets/lib/datatables-bs4/dataTables.bootstrap4.min.js`)
        script(src=`assets/lib/datatables.net-responsive/dataTables.responsive.js`)
        script(src=`assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js`)
  .card.mb-3
    .card-header 
      h5.mb-0 Example
    .card-body.bg-light 
      +componentCard
        +data-table
