extends ../_skeleton-component
block append styles
  link(href=`${CWD}assets/lib/owl.carousel/owl.carousel.css`, rel='stylesheet')
block append scripts
  script(src=`${CWD}assets/lib/owl.carousel/owl.carousel.js`)

block append variables
  - var firstParent = 'plugins'              
  - var currentPage = 'owl-carousel'

block append content
  +PageHeader('Owl Carousel')
    p.mt-2 Documentation and examples for opt-in styling of image slider with Owl Caorusel.
    a(href='https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html' target='_blank').btn.btn-link.pl-0.btn-sm  Owl carousel documentation
      span.fas.fa-chevron-right.ml-1.fs--2

  .card
    .card-header
      h5.mb-0 Owl Carousel
    .card-body.bg-light.overflow-hidden
      +componentCard
        .owl-carousel.owl-theme.owl-dots-inner(data-options!={
          margin: 0,
          nav: true,
          autoplay: true,
          loop: true,
          dots: false,
          items: 1
        })
          = '\n'
          img.rounded(src=`${CWD}assets/img/generic/4.jpg` alt='')
          = '\n'
          img.rounded(src=`${CWD}assets/img/generic/5.jpg` alt='')
          = '\n'
          img.rounded(src=`${CWD}assets/img/generic/9.jpg` alt='')
          = '\n'
      h5.mb-0.mt-4 Stylesheet
      +componentCardLib
        link(href=`assets/lib/owl.carousel/owl.carousel.css`, rel='stylesheet')

      h5.mb-0.mt-4 Javascript
      +componentCardLib
        script(src=`assets/lib/owl.carousel/owl.carousel.js`)
