mixin PageHeader(title)
  .card.mb-3&attributes(attributes)
    +background({image: `${CWD}assets/img/illustrations/corner-4.png`, className:"d-none d-lg-block bg-card"})
    .card-body
      .row
        .col-lg-8
          h3.mb-0=title
          block

mixin PageHeader(config)
  h3=config.title
  p.mb-0=config.description
  if config.url
    a(href=config.url target='_blank').btn.btn-link.btn-sm.pl-0.mt-2=config.linkText
      span.fas.fa-chevron-right.ml-1.fs--2
  
