extends _skeleton-theme
include mixins/widgets/_widgets

block append styles
  link(href=`${CWD}assets/lib/prismjs/prism-okaidia.css`, rel='stylesheet')

block append scripts
  script(src=`${CWD}assets/lib/prismjs/prism.js`)
    
block append variables
  - var CWD = '../';
block append content
  .container
    .row.mt-3
      .col-lg-9.col-xxl-10
        block component

      .col.d-none.d-lg-block
        - var components = Object.keys(sitemap.components.inners)
        - var plugins = Object.keys(sitemap.plugins.inners)
        - var utilities = Object.keys(sitemap.utilities.inners)
        ul.nav.flex-column
          li.nav-item
            a.nav-link(data-toggle="collapse" href="#components" role="button" aria-expanded="false" aria-controls="components") Components
            .nav.collapse.pl-3(id='components')
              each value, key in components
                a.nav-link.w-100(href=`${CWD}components/${value}.html`)
                  +cleanText(value)
          li.nav-item
            a.nav-link(data-toggle="collapse" href="#plugins" role="button" aria-expanded="false" aria-controls="plugins") Plugins
            .nav.collapse.pl-3(id='plugins')
              each value, key in plugins
                a.nav-link.w-100(href=`${CWD}components/${value}.html`)
                  +cleanText(value)
          li.nav-item
            a.nav-link(data-toggle="collapse" href="#utilities" role="button" aria-expanded="false" aria-controls="utilities") Utilities
            .nav.collapse.pl-3(id='utilities')
              each value, key in utilities
                a.nav-link.w-100(href=`${CWD}components/${value}.html`)
                  +cleanText(value)
