mixin Avatar(config)
  - var config = Object.assign({size: '2xl', round: 'circle', img: 'team/1.jpg'}, config)
  .avatar(class=`${config.status ? `avatar-${config.size} status-${config.status}` : `avatar-${config.size}`}`)&attributes(attributes)
    if config.name
      .avatar-name(class=`rounded-${config.round}`)
        span
          +getFirstLetter(config.name)
    else if config.more
      .avatar-name(class=`rounded-${config.round}`)
        span=config.more
    else if config.emoji
      .avatar-emoji(class=`rounded-${config.round}`)
        span(role='img' aria-label='Emoji')!=config.emoji
    else if config.img
      = '\n'
      img(src=`${CWD}assets/img/${config.img}` alt='' class=`rounded-${config.round}`)
      = '\n'
